<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz - LearnGen.IA</title>
    <link rel="stylesheet" href="../static/quiz.css">
</head>

<body>

    <div class="container-quiz">
        <h1>Quiz Gerado</h1>

        <h2 id="pergunta"></h2>

        <div id="alternativas"></div>

        <p id="progresso"></p>

        <h3 id="resultado"></h3>
    </div>

    <script src="{{ url_for('static', filename='js/quiz.js') }}"></script>

</body>

</html>